apiVersion: v1
kind: Service
metadata:
  name: {{{ service_name }}}
  labels:
    dummysite: "{{ dummysite_name }}"
    ingresspath: "{{ ingresspath }}"
spec:
  type: NodePort
  selector:
    dummysite: "{{ dummysite_name }}"
  ports:
    - port: 2345
      protocol: TCP
      targetPort: 3000